#mainmenu {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#mainmenu .cards {
  align-self: center;
  display: flex;
}
#mainmenu-logo-wrap .salotto-logo {
  height: 75px;
}
#mainmenu-logo-wrap {
  margin-bottom: 35px;
  position: relative;
}
#mainmenu-logo-wrap p {
  position: absolute;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  transform: rotate(-30deg);
  right: -15px;
  bottom: -5px;
  font-family: 'Raleway', 'josefin-sans', 'roboto'

}
